#navigator {
    display: flex;
    padding: 0.4rem;
    flex-direction: row;
}

#navigator .nav-el-frame {
    flex-grow: 1;
}

#navigator .nav-el-frame .nav-el {
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    transition-duration: 0.5s;
    text-align: center;
    color: black;
}

#navigator .nav-el-frame .nav-el.current {
    color: rebeccapurple;
    font-weight: bold;
}

#navigator .nav-el-frame .nav-el:hover {
    color: mediumpurple;
    transition-duration: 0.5s;
    text-decoration: unset;
}