@using AboutMe.Models
<div id="navigator">
    @foreach (var el in Elements)
    {
        <div class="nav-el-frame">
            <NavLink class="nav-link" href="@el.Path">
                <div class="nav-el">@el.Name</div>
            </NavLink>
        </div>
    }
</div>

@code {

    public List<NavigatorElement> Elements { get; set; } = new();

    protected override void OnInitialized()
    {
        Elements = NavigatorManager.AboutMeNavigatorElements;
    }

}