@inherits LayoutComponentBase

<div id="page">
    <MatCard>
        <div id="header">
            <Navigator></Navigator>
        </div>
        <div id="content">
            @Body
        </div>
    </MatCard> 
</div>
<Footer></Footer>