@using AboutMe.Models

<div id="navigator">
    @foreach (var el in Elements)
    {
        <div class="nav-el-frame">
            <NavLink class="nav-link" href="@el.Path">
                <div class="@(el.IsCurrent(Path) ? "nav-el current" : "nav-el")">@el.Name</div>
            </NavLink>
        </div>
    }
</div>

@code {
    
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private List<NavigatorElement> Elements { get; set; } = new();
    private string Path { get; set; }

    protected override void OnInitialized()
    {
        this.Path = $"/{NavigationManager.ToBaseRelativePath(NavigationManager.Uri)}";
        Elements = NavigatorManager.NavigatorElements;
    }
}