#about .main {
    display: flex;
    flex-direction: row;
}

#about .main .section {
    flex-grow: 1;
}

#about .main .section.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .main .section.image-section img {
    height: 300px;
    width: auto;
    border-radius: 10%;
    box-shadow: 0 0 6px 2px black;
}

