@page "/"
@using AboutMe.Models

<div id="about">
    <AboutMeNavigator></AboutMeNavigator>
    <div class="main">
        <div class="section">
            @foreach (var data in Data)
            {
                <GeneralDisplay Data="data"></GeneralDisplay>
            }
        </div>
        <div class="section image-section">
            <img src="/images/Me.png" alt="Karcag Tamas"/>
        </div>
    </div>
</div>

@code {

    public List<GeneralData> Data { get; set; } = new()
    {
        new GeneralData()
        {
            Title = "Address",
            Value = "9081 Győrújbarát László street 120",
        },
        new GeneralData
        {
            Title = "Tel",
            Value = "+36 30 63 90 722",
        },
        new GeneralData
        {
            Title = "E-mail",
            Value = "karcagtamas@outlook.com",
        },
        new GeneralData
        {
            Title = "Birthday",
            Value = "1999. 07. 26.",
        },
        new GeneralData
        {
            Title = "Birthplace",
            Value = "Győr",
        },
        new GeneralData
        {
            Title = "Github",
            Value = "https://github.com/karcagtamas",
            IsAddress = true
        },
        new GeneralData
        {
            Title = "Facebook",
            Value = "https://facebook.com/karcagtamas",
            IsAddress = true
        },
        new GeneralData
        {
            Title = "Twitter",
            Value = "https://twitter.com/karcagtamas",
            IsAddress = true
        }
    };

}